
img[class="img-max"] {
	width:100% !important; 
	height: auto !important;
}

.es-content {
    padding-top: 24px;
}
html,
body {
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: 'Inter', 'display','Helvetica Neue', 'arial', 'Segoe UI', helvetica;
    margin: 0;
}
